.fist_name{
	border-radius: 7px;    
	background-color: rgba(166, 168, 174, 0.22);
}
#txt{
	border-radius: 7px;    
	background-color: rgba(166, 168, 174, 0.22);
}
#add{
	border-radius: 7px;    
	background-color: rgba(166, 168, 174, 0.22);
}
#btn{
	border-radius: 4px;    
	background-color: rgba(166, 168, 174, 0.22);
}
#txd{
	border-radius: 4px;    
	background-color: rgba(166, 168, 174, 0.22);
}

